<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chat</title>
</head>
<body>
    <h3>Write new chat..</h3>
    <form action="/chats" method="POST">
  <label for="from">From:</label>
  <input type="text" name="from" id="from" required />

  <label for="to">To:</label>
  <input type="text" name="to" id="to" required />

  <label for="msg">Message:</label>
  <textarea name="msg" id="msg" required></textarea>

  <button type="submit">Send Chat</button>
</form>

</body>
</html>